body {
    font-family: 'Minecraft', sans-serif;
    background-color: #1e2125;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #009688;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#commandOutput {
    margin-top: 1rem;
    font-family: monospace;
}

footer {
    background-color: #009688;
    padding: 1rem;
    text-align: center;
}
